{% block styles %}
<link rel="stylesheet" href="{% static 'global/global.css' %}">
{% endblock %}

{% block content %}
<input type="hidden" name="main_task_1_2_data" id="id_main_task_1_2_data"/>
{% include "temple_run_app_test/TLoadDBackContent.html" %}
{% endblock %}

{% block scripts %}
<script>
          document.addEventListener("DOMContentLoaded", async function () {
            TLoadDBack.init(
                JSON.parse('{{ test_settings|safe }}'),
                JSON.parse('{{ series_data|safe }}'),
                {{ stimulus_time | safe}}
            );
            await TLoadDBack.runMainTask("1_2");
            TLoadDBack.endPhase(MESSAGES.gameBegin);
        });
</script>
{% endblock %}