{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <iframe src="https://ad-freegames.github.io/4399/temple-run-2.html" width="1050px" height="720px" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const gameDurationInMilliseconds = 60000;

        setTimeout(function() {
            const form = document.getElementById('form');

            if (form) {
                form.submit();
            } else {
                console.error("oTree form not found. Could not auto-submit.");
            }
        }, gameDurationInMilliseconds);
    });
</script>
{% endblock %}