{% block styles %}
<link rel="stylesheet" href="{% static 'time_load_dual_back_app/css/global.css' %}">
{% endblock %}

{% block content %}
<input type="hidden" name="main_task_2_2_data" id="id_main_task_2_2_data"/>
{% include "time_load_dual_back_app/TLoadDBackContent.html" %}
{% endblock %}

{% block scripts %}
<script>
          document.addEventListener("DOMContentLoaded", async function () {
            TLoadDBack.init(
                JSON.parse('{{ test_settings|safe }}'),
                JSON.parse('{{ series_data|safe }}'),
                {{ stimulus_time | safe}}
            );
            await TLoadDBack.runMainTask("2_2");
            TLoadDBack.endPhase(MESSAGES.mainTaskCompleted);
        });
</script>
{% endblock %}