{% block styles %}
<link rel="stylesheet" href="{% static 'time_load_dual_back_app/css/global.css' %}">
{% endblock %}

{% block content %}
{% include "time_load_dual_back_app/TLoadDBackContent.html" %}
{% endblock %}

{% block scripts %}
<script>
          document.addEventListener("DOMContentLoaded", async function () {
            TLoadDBack.init(
                JSON.parse('{{ test_settings|safe }}'),
                JSON.parse('{{ series_data|safe }}')
            );
            TLoadDBack.endPhase(MESSAGES.gameCompleted);
        });
</script>
{% endblock %}