{% block styles %}
<link rel="stylesheet" href="{% static 'time_load_dual_back_app/css/global.css' %}">
{% endblock %}

{% block content %}

<input type="hidden" name="pretest_hcl" id="id_pretest_hcl"/>
<input type="hidden" name="pretest_lcl" id="id_pretest_lcl"/>
<input type="hidden" name="digit_training_data" id="id_digit_training_data"/>
<input type="hidden" name="letter_training_data" id="id_letter_training_data"/>
<input type="hidden" name="letter_digit_training_data" id="id_letter_digit_training_data"/>
<input type="hidden" name="pretest_data" id="id_pretest_data"/>
{% include "time_load_dual_back_app/TLoadDBackContent.html" %}
{% endblock %}
{% block scripts %}
<script>
          document.addEventListener("DOMContentLoaded", async function () {
            TLoadDBack.init(
                JSON.parse('{{ test_settings|safe }}'),
                JSON.parse('{{ series_data|safe }}')
            );
            await TLoadDBack.runTrainingAndPretest();
            TLoadDBack.endPhase(MESSAGES.pretestFinished);
        });
</script>
{% endblock %}